// Spinning Icons
// --------------------------

.#{$zo-css-prefix}-spin {
  -webkit-animation: zo-spin 2s infinite linear;
          animation: zo-spin 2s infinite linear;
}

.#{$zo-css-prefix}-pulse {
  -webkit-animation: zo-spin 1s infinite steps(8);
          animation: zo-spin 1s infinite steps(8);
}

@-webkit-keyframes zo-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes zo-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
