.#{$zo-css-prefix}-aries:before { content: $zo-var-aries; }
.#{$zo-css-prefix}-tauro:before { content: $zo-var-tauro; }
.#{$zo-css-prefix}-geminis:before { content: $zo-var-geminis; }
.#{$zo-css-prefix}-cancer:before { content: $zo-var-cancer; }
.#{$zo-css-prefix}-leo:before { content: $zo-var-leo; }
.#{$zo-css-prefix}-virgo:before { content: $zo-var-virgo; }
.#{$zo-css-prefix}-libra:before { content: $zo-var-libra; }
.#{$zo-css-prefix}-escorpion:before { content: $zo-var-escorpion; }
.#{$zo-css-prefix}-sagitario:before { content: $zo-var-sagitario; }
.#{$zo-css-prefix}-capricornio:before { content: $zo-var-capricornio; }
.#{$zo-css-prefix}-acuario:before { content: $zo-var-acuario; }
.#{$zo-css-prefix}-piscis:before { content: $zo-var-piscis; }
