// List Icons
// -------------------------

.#{$zo-css-prefix}-ul {
  padding-left: 0;
  margin-left: $zo-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$zo-css-prefix}-li {
  position: absolute;
  left: -$zo-li-width;
  width: $zo-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$zo-css-prefix}-lg {
    left: -$zo-li-width + (4em / 14);
  }
}
