/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'Astro';
  src: url('#{$zo-font-path}/yolanda-regular-webfont.eot?v=#{$zo-version}');
  src: url('#{$zo-font-path}/yolanda-regular-webfont.eot?#iefix&v=#{$zo-version}') format('embedded-opentype'),
    url('#{$zo-font-path}/yolanda-regular-webfont.woff2?v=#{$zo-version}') format('woff2'),
    url('#{$zo-font-path}/yolanda-regular-webfont.woff?v=#{$zo-version}') format('woff'),
    url('#{$zo-font-path}/yolanda-regular-webfont.ttf?v=#{$zo-version}') format('truetype'),
    url('#{$zo-font-path}/yolanda-regular-webfont.svg?v=#{$zo-version}#Astro') format('svg');
  font-weight: normal;
  font-style: normal;
}
