// Variables
// --------------------------

$zo-font-path:        "../fonts" !default;
$zo-font-size-base:   14px !default;
$zo-line-height-base: 1 !default;
$zo-css-prefix:       zo !default;
$zo-version:          "0.0.1" !default;
$zo-border-color:     #eee !default;
$zo-inverse:          #fff !default;
$zo-li-width:         (30em / 14) !default;


$zo-var-aries: "a";
$zo-var-tauro: "b";
$zo-var-geminis: "c";
$zo-var-cancer: "d";
$zo-var-leo: "e";
$zo-var-virgo: "f";
$zo-var-libra: "g";
$zo-var-escorpion: "h";
$zo-var-sagitario: "i";
$zo-var-capricornio: "j";
$zo-var-acuario: "k";
$zo-var-piscis: "l";
